/* `Body
----------------------------------------------------------------------------------------------------*/
body {
  background: white; }

.social {
  width: 40px; }

/* `Headings
----------------------------------------------------------------------------------------------------*/
header {
  background: transparent;
  margin: 0 auto;
  z-index: 999;
  transition: all 500ms ease-in;
  -webkit-transition: all 500ms ease-in;
  /* Safari */
  width: 100%;
  padding: 25px 5%;
  padding-top: 30px;
  padding-bottom: 10px;
  position: relative;
  text-align: center; }
  header a {
    margin: 0% 20%; }

img.header-image {
  width: 100%;
  margin-top: -211px; }

nav {
  transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  /* Safari */
  padding: 0px;
  margin: 0 auto; }
  nav ul {
    text-align: center; }
    nav ul li {
      display: inline-block;
      text-align: center; }

nav {
  display: inline-block;
  float: right; }
  nav ul, nav li {
    display: inline-block;
    font-size: 16px;
    margin-top: 15px; }

.home-logo {
  width: 350px;
  margin: 0 auto; }

.mob-logo a {
  background-image: url('../images/menu.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  top: 60px;
  right: 6%;
  position: fixed;
  margin: 0;
  height: 40px; }

nav:not(.mm-menu) {
  display: none; }

#intro, .white {
  background-color: black; }

#intro {
  background-color: white;
  position: relative;
  z-index: 1; }
  #intro .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4); }

.third, .half {
  padding: 1%; }

.van {
  width: 450px;
  float: left;
  margin-top: -50px;
  z-index: 999;
  position: relative; }

.bottom {
  position: relative !important; }
  .bottom p, .bottom a.blink {
    margin-bottom: 0px !important;
    font-size: 16px;
    color: white;
    font-weight: 200;
    padding-top: 5px; }
  .bottom a.blink {
    margin-top: -10px;
    font-family: 'NanamiPro-ExtraLight' sans-serif; }

.gallery {
  position: relative; }
  .gallery img {
    float: left;
    width: 100%; }
  .gallery .examples {
    position: absolute !important;
    top: 250px; }
  .gallery .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4); }
  .gallery .white {
    background: transparent; }
  .gallery li {
    float: left;
    margin: 0px;
    padding: 1%; }

.gallery-img {
  width: 25%;
  padding: 0.5%;
  float: left; }

.gallery li:nth-child(1) {
  width: 50%; }

.gallery li:nth-child(2) {
  width: 50%; }

.gallery li:nth-child(3) {
  width: 33%; }

.gallery li:nth-child(4) {
  width: 33%; }

.gallery li:nth-child(5) {
  width: 33%; }

.mm-menu {
  background: white; }

.mm-listview > li > a, .mm-listview > li > span {
  padding: 20px 10px 20px 20px;
  margin: 0;
  font-size: 20px;
  color: #0c2a49; }

.mm-listview > li:not(.mm-divider)::after {
  border-width: 0px; }

.mm-navbar {
  border-bottom: 0px solid white; }

/* `Divs
----------------------------------------------------------------------------------------------------*/
.section {
  position: relative;
  padding: 5% 10%;
  width: 100%;
  text-align: center; }

.copy {
  padding: 40px 20%;
  float: left; }

/* Menu
----------------------------------------------------------------------------------------------------*/
a.mm-title {
  display: none; }

/* `Footer
----------------------------------------------------------------------------------------------------*/
#footer img {
  width: 200px;
  float: left; }
#footer .left p {
  text-align: left;
  margin-bottom: 5px !important; }
#footer .right p {
  text-align: right;
  margin-bottom: 5px !important; }
#footer .right a {
  text-align: right;
  padding-bottom: 5px;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 10px; }

footer {
  background-color: white;
  text-align: left;
  position: relative;
  width: 100%; }
  footer p, footer a {
    padding-bottom: 0px;
    font-size: 18px;
    color: white;
    text-align: left;
    font-family: 'NanamiPro-ExtraLight' sans-serif;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 5px !important; }

img.footer-logo {
  width: 250px;
  padding-top: 10px; }

a.blink {
  position: absolute;
  right: 5%;
  top: 20px;
  font-family: 'NanamiPro-ExtraLight' sans-serif;
  font-weight: 400;
  text-transform: lowercase; }

a.blink:hover {
  color: aqua; }

/* `Button
----------------------------------------------------------------------------------------------------*/
.contact-form {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  float: left;
  padding: 0 20%; }

.button {
  background-color: #0c2a49;
  border: 1px solid #0c2a49;
  color: white;
  padding: 10px 50px;
  padding-top: 12px;
  margin-top: 30px;
  font-family: 'NanamiPro-ExtraLight' sans-serif; }

.button:hover, .button:focus, .button:active {
  color: #0c2a49;
  background-color: transparent;
  border-bottom-color: 0; }

.flexslider .button {
  position: relative;
  top: 50%;
  z-index: 999; }

.flex-direction-nav a {
  top: 30% !important; }

/* `Contact Form ----------------------------------------------------------------------------------------------------*/
form.wpcf7-form {
  padding-top: 40px; }

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
  width: 100%; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 2px solid #0c2a49;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  color: black;
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  border-radius: 0px; }

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
  background-color: white;
  border: 2px solid #0c2a49; }

input[type="submit"] {
  background-color: #0c2a49;
  color: white;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding-top: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
  width: 100%;
  border: 0.5px solid black;
  border-radius: 0px;
  margin-top: 10px;
  letter-spacing: 2px; }

input[type="submit"]:hover {
  background-color: #222;
  color: white;
  cursor: pointer; }

div.wpcf7-validation-errors {
  width: 100%;
  color: #f7e700;
  font-family: 'Montserrat', sans-serif; }

div.wpcf7-mail-sent-ok {
  border: 2px solid #398f14;
  width: 100%;
  color: #398f14;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

div.wpcf7-response-output {
  padding: 1em 1em !important; }

/* `Radio Buttons
----------------------------------------------------------------------------------------------------*/
.wpcf7-list-item input[type="radio"] {
  display: none; }

.wpcf7-list-item label {
  display: inline-block;
  background-color: black;
  border: 2px solid #0c2a49;
  padding: 20px 30px;
  font-family: 'Montserrat', sans-serif;
  color: #0c2a49;
  text-transform: uppercase; }

.wpcf7-list-item input[type="radio"]:checked + span.wpcf7-list-item-label {
  color: white; }
