h1, h2, h3, a, p, li {
  color: black;
  font-family: 'NanamiPro-ExtraLight' sans-serif; }

h1 {
  color: #0c2a49;
  font-family: 'NanamiPro-Bold';
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0.5px;
  padding: 0% 20%; }

.main h1 {
  color: #0c2a49;
  padding-bottom: 20px; }
.main p {
  padding-top: 10px;
  margin-bottom: 10px !important; }

h2 {
  color: #0c2a49;
  font-size: 32px;
  padding-bottom: 10px;
  font-family: 'NanamiPro-Bold'; }

.white h2, .white p {
  color: #0c2a49; }

h3 {
  font-weight: 100;
  font-size: 18px;
  display: block;
  padding-bottom: 2px;
  letter-spacing: 0.5px; }

h4 {
  font-family: 'NanamiPro-ExtraLight' sans-serif;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px; }

p {
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-size: 17px;
  margin-bottom: 20px !important;
  font-family: 'NanamiPro-ExtraLight' sans-serif; }

a {
  font-family: 'NanamiPro-ExtraLight' sans-serif;
  font-weight: 600;
  color: black;
  display: block; }

a:hover {
  color: #0c2a49; }

.lead p {
  width: 100%;
  margin: 0 auto;
  max-width: 650px; }

nav li {
  text-align: right;
  padding-bottom: 5px; }
nav a {
  margin-bottom: 0px !important; }

#intro nav a {
  color: white; }

.mob-nav a {
  color: black !important; }

a.exit-off-canvas {
  margin-bottom: 0px !important; }
